.chatHeader {
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  background-color: var(--block-backround);
}
.headerStyle{
  margin: 4px 10px;
  padding-bottom: 2px;
  border-bottom: 2px dashed var(--border-color);
}
#lastMessage{
  margin-left: auto;
}